
        :root {
            --primary: #1a73e8;
            --primary-dark: #0d47a1;
            --secondary: #f8f9fa;
            --accent: #00bcd4;
            --text: #333;
            --light-text: #5f6368;
            --border: #e0e7ff;
            --success: #4caf50;
        }



    body {
      background-color: #f4f6f9;
      font-family: 'Segoe UI', sans-serif;
    }
    .sidebar {
      height: 100vh;
      background: linear-gradient(120deg, var(--primary) 0%, var(--primary-dark) 100%);
      color: white;
      position: fixed;
      top: 0;
      left: 0;
      width: 220px;
      z-index: 1030;
      transition: all 0.3s;
    }
    .sidebar a {
      color: white;
      text-decoration: none;
      padding: 12px 20px;
      display: block;
    }
    .sidebar a:hover {
      background-color: rgb(26, 47, 236);
      border-radius: 5px;
    }
    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
    .table thead {
      background-color: #dee2e6;
    }
    .header {
      background: white;
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0,0,0,0.05);
      color: var(--primary);
    }
    .toggle-btn {
      display: none;
    }
    @media (max-width: 768px) {
      .sidebar {
        transform: translateX(-100%);
      }
      .sidebar.active {
        transform: translateX(0);
      }
      .toggle-btn {
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: #000;
      }
      main {
        margin-left: 0 !important;
      }
    }
  








/* =============================login page ===================*/
body {
  background: linear-gradient(to right, #e3f2fd, #ffffff);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-area {
  width: 850px;
}

.left-box {
  background: #f0f8ff;
  min-height: 400px;
}

.right-box {
  padding: 30px;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 55%;
  cursor: pointer;
  user-select: none;
}

